<h1>Edit Sub</h1>

<form action="<%= sub_url(@sub) %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <%= auth_token %>
  <%= flash[:errors] %>
  <br>

  <label for="sub_title">Title: </label>
  <input type="text" name="sub[title]" id="sub_title" value="<%= @sub.title %>">
  <br>

  <label for="sub_description">Description: </label>
  <input type="text" name="sub[description]" id="sub_description" value="<%= @sub.description %>">
  <br>

  <input type="submit" value="Edit Sub">
</form>
