<table style="width: 15%">
    <thead>
        <tr>
            <th colspan="2"> <%= @cat.name %> </th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Attribute</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td><%= @cat.birth_date %></td>
        </tr>
        <tr>
            <td>Color</td>
            <td><%= @cat.color%></td>
        </tr>
        <tr>
            <td>Sex</td>
            <td><%= @cat.sex %></td>
        </tr>
    </tbody>
</table>

<a href="<%= cats_url %>">Back to the index!</a>